@model WebAppForMORecSys.Models.Movie

<div>
    <button class=" btn btn-primary" onclick="BackToList();" style="float:right">Back to List</button>
<h1>@Html.DisplayFor(model => model.Name)</h1>
</div>
<div>
    <h4>Item</h4>
    <hr />
    <img class="image" style="max-width:48%; max-height:90%; float:right;" src="@Model.ImageURL" />

    <dl class="row" style="max-width:48%; display:grid;">
        @if (!string.IsNullOrEmpty(Model.Description))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
        }
        @if (!string.IsNullOrEmpty(Model.ShortDescription))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ShortDescription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>        
        @if (!string.IsNullOrEmpty(Model.Director))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Director)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Director)        
            </dd>
        }
        @if (Model.Actors.Length>0)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Actors)
            </dt>
            <dd class="col-sm-10">
                @for (int i = 0; i < Model.Actors.Length; i++)
                {
                    @Html.DisplayFor(model => model.Actors[i])
                    <br/>
                }                
            </dd>
        }
        @if (Model.Genres.Length > 0)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Genres)
            </dt>
            <dd class="col-sm-10">
                @for (int i = 0; i < Model.Genres.Length; i++)
                {
                    @Html.DisplayFor(model => model.Genres[i])
                    <br />
                }
            </dd>
        }
    </dl>
</div>
<div>
   
</div>
