@using static WebAppForMORecSys.Helpers.JSONPropertiesHandlers.MovieJSONPropertiesHandler
@using static WebAppForMORecSys.Helpers.JSONPropertiesHandlers.UserJSONPropertiesHandler
@using static WebAppForMORecSys.Models.ItemDomainExtension.Movie.Movie
@model WebAppForMORecSys.Models.ViewModels.PreviewDetailViewModel
@{
    string divClass = "Detail_" + Model.Item.Id;

    //Sets the visibility of show x hide button
    string hideDisplay = "";
    string showDisplay = "none";
    string opacity = "1";
    if (Model.User?.IsItemInBlackList(Model.Item.Id) ?? false)
    {
        hideDisplay = "none";
        showDisplay = "";
        opacity = "0.5";
    }
}
<div style="opacity:@opacity" class="@divClass">
    <div>
        <button class=" btn btn-primary" onclick="BackToList();" style="float:right">Back to List</button>
        <h1>@Html.DisplayFor(model => model.Item.Name)</h1>
    </div>
    <div>
        <a style="display:@hideDisplay;" class="hideimg" onclick="hide(@Model.Item.Id)"
            href='@Url.Action("Hide","Home", new { id=Model.Item.Id })'>
            <img src="@Url.Content("~/Resources/Images/hide.png")" title="Don't recommend this movie" />
        </a>
        <a style="display:@showDisplay;" class="showimg" onclick="show(@Model.Item.Id)"
            href='@Url.Action("Show","Home", new { id=Model.Item.Id })'>
            <img src="@Url.Content("~/Resources/Images/show.png")" title="Show movie again." />
        </a>
        <hr />
        <img class="ImageInDetail image"  src="@Model.Item.ImageURL" />

        <dl class="InfoInDetail row">
             @if (Model.User!=null)
            {
                <dt class="col-sm-2">
                    My rating
                </dt>
                <dd class="col-sm-10">
                    @await Html.PartialAsync("../Movies/Rating", Model)
                </dd>
                <br/>
            }
            @if (!string.IsNullOrEmpty(Model.Item.Description))
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Item.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Item.Description)
                </dd>
                <br />
            }
            @if (Model.Item.GetGenres().Length > 0)
            {
                var genres = Model.Item.GetGenres();
                <dt class="col-sm-2">
                    Genres
                </dt>
                <dd class="col-sm-10">
                    @for (int i = 0; i < genres.Length; i++)
                    {
                        @Html.DisplayFor(model => genres[i])
                        string hideDisplayGenre = "";
                        string showDisplayGenre = "none";
                        string hideClassGenre = "hidegenre_" + i;
                        string showClassGenre = "showgenre_" + i;
                        if (Model.User?.IsGenreInBlackList(genres[i]) ?? false)
                        {
                            hideDisplayGenre = "none";
                            showDisplayGenre = "";                       
                        }
                        <a style="display:@hideDisplayGenre; left: 5px;" class="@hideClassGenre"
                           onclick="hide_by_property('genre',@i)"
                           href='@Url.Action("HideGenre","Movies", new { genre=genres[i] })'>
                            <img src="@Url.Content("~/Resources/Images/hide.png")" title="Don't recommend movies of this genre" />
                        </a>
                        <a style="display:@showDisplayGenre; left: 5px"
                           onclick="show_by_property('genre',@i)"
                        class="@showClassGenre" href='@Url.Action("ShowGenre","Movies", new { genre=genres[i] })'>
                            <img src="@Url.Content("~/Resources/Images/show.png")" title="Show movies of this genre again" />
                        </a>
                        <br />
                    }
                </dd>
            }
            @if (!string.IsNullOrEmpty(Model.Item.ShortDescription))
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Item.ShortDescription)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Item.ShortDescription)
                </dd>
                <br />
            }
            @if (!string.IsNullOrEmpty(Model.Item.GetYoutubeKey()))
            {
                <dt class="col-sm-2">
                    Video
                </dt>
                <dd class="col-sm-10">
                    @{var src = "https://www.youtube.com/embed/" + Model.Item.GetYoutubeKey();}
                    <iframe width="100%" src="@src" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </dd>
                <br />
            }
            @if (Model.Item.GetReleaseDate() != null)
            {
                <dt class="col-sm-2">
                    Release date
                </dt>
                <dd class="col-sm-10">
                    @Model.Item.GetReleaseDate().Value.ToShortDateString()
                </dd>      
                <br />
            }
            @if (!string.IsNullOrEmpty(Model.Item.GetDirector()))
            {
                string director = Model.Item.GetDirector();
                <dt class="col-sm-2">
                    Director
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => director)
                    @{
                        string hideDisplayDirector = "";
                        string showDisplayDirector = "none";
                        string hideClassDirector = "hidedirector_";
                        string showClassDirector = "showdirector_";
                        if (Model.User?.IsDirectorInBlackList(director) ?? false)
                        {
                        hideDisplayDirector = "none";
                        showDisplayDirector = "";
                        }
                    }
                    <a style="display:@hideDisplayDirector; left: 5px" class="@hideClassDirector"
                       onclick="hide_by_property('director','')"
                       href='@Url.Action("HideDirector","Movies", new { director=director })'>
                        <img src="@Url.Content("~/Resources/Images/hide.png")" title="Don't recommend movies of this director" />
                    </a>
                    <a style="display:@showDisplayDirector;left: 5px"
                       onclick="show_by_property('director','')"
                       class="@showClassDirector" href='@Url.Action("ShowDirector","Movies", new { director=director })'>
                        <img src="@Url.Content("~/Resources/Images/show.png")" title="Show movies of this director again" />
                    </a>
                </dd>
                <br />
            }
            @if (Model.Item.GetActors().Length>0)
            {
                var actors = Model.Item.GetActors();
                <dt class="col-sm-2">
                    Actors
                </dt>
                <dd class="col-sm-10">
                    @for (int i = 0; i < actors.Length; i++)
                    {
                        @Html.DisplayFor(model => actors[i])
                        string hideDisplayActor = "";
                        string showDisplayActor = "none";
                        string hideClassActor = "hideactor_" + i;
                        string showClassActor = "showactor_" + i;
                        if (Model.User?.IsActorInBlackList(actors[i]) ?? false)
                        {
                            hideDisplayActor = "none";
                            showDisplayActor = "";
                        }
                        <a style="display:@hideDisplayActor; left: 5px;" class="@hideClassActor"
                           onclick="hide_by_property('actor',@i)"
                           href='@Url.Action("HideActor","Movies", new { actor=actors[i] })'>
                            <img src="@Url.Content("~/Resources/Images/hide.png")" title="Don't recommend movies with this actor" />
                        </a>
                        <a style="display:@showDisplayActor; left: 5px"
                           onclick="show_by_property('actor',@i)"
                           class="@showClassActor" href='@Url.Action("ShowActor","Movies", new { actor=actors[i] })'>
                            <img src="@Url.Content("~/Resources/Images/show.png")" title="Show movies with this actor again" />
                        </a>
                        <br/>
                    }                
                </dd>
                <br />
            }
      
        </dl>
    </div>

</div>


