@model WebAppForMORecSys.Models.ViewModels.MainViewModel
@using static WebAppForMORecSys.Helpers.MovieHelper
<form asp-controller="Movies" asp-action="Index" method="get" class="moviefilter">
    
    @{
        string director;
        string actor;
        string releasedatefrom;
        string releasedateto;
        string genresstring;
        string[] genres;
        bool b = @Model.FilterValues.TryGetValue("Director", out director);
        b = @Model.FilterValues.TryGetValue("Actor", out actor);
        b = @Model.FilterValues.TryGetValue("ReleaseDateFrom", out releasedatefrom);
        b = @Model.FilterValues.TryGetValue("ReleaseDateTo", out releasedateto);
        b = @Model.FilterValues.TryGetValue("Genres", out genresstring);
        genres = genresstring?.Split(',') ?? new string[0];
        director = director ?? "";
        actor = actor ?? "";
        releasedatefrom = releasedatefrom ?? "";
        releasedateto = releasedateto ?? "";

    }
    <label for="igenre">Genre</label>

    <select class="selectpicker" multiple data-live-search="true" name="genres" placeholder="Genres">
       
        @foreach (var genre in Movie.AllGenres.Except(Model.CurrentUser.GetGenresInBlackList()))
        {
            @if (genres.Contains(genre))
            {
                <option selected>@genre</option>
            }
            else
            {
                <option>@genre</option>
            }
        }
    </select>
    <br />
    <br />
    <label for="idirector">Director</label>
    <input class="form-control rounded m-3" type="text" id="idirector"  name="director" placeholder="Director" value="@director"/>
    <br/>
    <br />
    <label for="iactor">Actor</label>

    <input class="form-control rounded m-3" type="text" id="iactor" name="actor" placeholder="Actor" value="@actor" />
    <br />
    <br />
    <label for="idatefrom">Release Date - From</label>

    <input class="form-control rounded m-3" type="date" id="idatefrom"  name="releasedatefrom" placeholder="ReleaseDateFrom" value="@releasedatefrom"/>
    <br />
    <br />
    <label for="idateto">Release Date - To</label>
    <input class="form-control rounded m-3" type="date" id="idateto" name="releasedateto" placeholder="ReleaseDateTo" value="@releasedateto" />
    <br />
    <br />

    <input type="hidden" name="type" placeholder="Type" value="MovieFilter" />
    <div class="input-group container" id="input-copy-metrics-group">
        @{
        int index = 0;

        }
        @foreach (var metric in Model.Metrics.Keys)
        {
            string id = "hidden_metric" + index;
            <input class="custom-range range" type="hidden" min="0" max="100" name="MetricsImportance" id="@id"
                   value="@Model.Metrics[metric]" placeholder="MetricsImportance"/>
            index++;
        }
    </div>
    <input class="form-control rounded m-3" type="submit" class="btn-secondary" value="SEARCH" />
</form>

<script>
    $('select').selectpicker();
</script>