@using static WebAppForMORecSys.Helpers.UserHelper
@model WebAppForMORecSys.Helpers.MovieHelper.MovieUserUserratings
@{

    string moviepreviewclass = "preview_" + Model.movie.Id;
    string hideDisplay = "";
    string showDisplay = "none";
    string opacity = "1";
    if (Model.user.IsItemInBlackList(Model.movie.Id))
    {
        hideDisplay = "none";
        showDisplay = "";
        opacity = "0.5";
    }
}
<div style="opacity:@opacity" class="MovieItem horizontal @moviepreviewclass">
    <a href="javascript:void(0);" resource=""  id='@Url.Action("Details","Movies", new { id=Model.movie.Id })' class="ajaxdetail"><h4>@Model.movie.Name</h4></a>
    
    <div id="logo-holder">
        @{
            string ImageURL = Model.movie.ImageURL;
            if (String.IsNullOrEmpty(ImageURL))
            {
                ImageURL = @Url.Content("~/Resources/Images/grey_no_image.png");
            }
        }
        <img class="image" style="width:95%" src="@ImageURL" />
        <div class="text" style="width:95%; height:100%">@Model.movie.ShortDescription</div>
    </div>
    <div>
        <a style="position: absolute; right: 1px; display:@hideDisplay" id="hideimg" class="hideimg" onclick="hide(@Model.movie.Id)" href='@Url.Action("Hide","Movies", new { id=Model.movie.Id })'>
            <img src="@Url.Content("~/Resources/Images/hide.png")" title="Don't recommend this movie" />
        </a>
        <a style="position: absolute; right: 1px; display:@showDisplay" id="showimg" class="showimg" onclick="show(@Model.movie.Id)" href='@Url.Action("Show","Movies", new { id=Model.movie.Id })'>
            <img src="@Url.Content("~/Resources/Images/show.png")" title="Show movie again." />
        </a>
    </div>
    <div style="margin-top:1px">
        <b>@Html.DisplayNameFor(model => model.movie.Director):</b>
        <br/>
        @Model.movie.Director
    </div>
    @await Html.PartialAsync("../Movies/Rating", Model)
</div>


