@model WebAppForMORecSys.Models.ViewModels.PreviewDetailViewModel
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@{
    string aclass = Model.User != null ? "" : "disabled";
    string ratingClass = "ratingstar" + Model.Item.Id;
    string removeClass = "remove" + Model.Item.Id;
    var rating = Model.UserRatings.Where(r => r.ItemID == Model.Item.Id).FirstOrDefault();
    int ratingScore = 0;
    if (Model.User != null)
        ratingScore = rating?.RatingScore ?? 0;
}
<div class="rating">
    <span>
        
        @for (int i = 0; i < 10; i++)
        {
            <span style="text-decoration:unset" 
                onclick="rate(@Html.Raw(i+1), @Model.Item.Id, '@Url.Action("Save","Ratings", new { id=Model.Item.Id, score= i+1 })')"
               class="@aclass" >
                <i class="@ratingClass fa fa-star-o" aria-hidden="true" title="@((i+1) + " / 10")"></i>
            </span>
        }
        <span style="text-decoration:unset; color:red" onclick="unrate(@Model.Item.Id, '@Url.Action("Remove","Ratings", new { id=Model.Item.Id})')"
           class="@removeClass @aclass"  >
            <i class="fa fa-remove" aria-hidden="true" title="Remove my rating"></i>
        </span>

    </span>
</div>
<script>    
    /* Displays corresponding value of user rating*/
    show_new_rating_value(@Html.Raw(ratingScore), @Html.Raw(Model.Item.Id));
</script>