
@using WebAppForMORecSys.Settings
@using WebAppForMORecSys.Models.ViewModels
@using static WebAppForMORecSys.Helpers.UserHelper

@model WebAppForMORecSys.Models.ViewModels.MainViewModel
@{
    ViewData["Title"] = "Settings";
}
<div id="main">

    <h2>APP SETTINGS</h2>
    @{
        byte index = 0;
    }
    <h4>Which metrics filter do you want to use?</h4>
    <div style="display:flex; margin-bottom:3px; width:100%">
    @foreach (MetricsView value in Enum.GetValues(typeof(MetricsView))){

            string typeOfBtn = "btn-secondary";
            if (Model.CurrentUser.GetMetricsView() == (MetricsView)value)
                typeOfBtn = "btn-primary";
            <a style="margin:auto" class="btn @typeOfBtn" href='@Url.Action("SetMetricsView","Home", new { metricsview=index })'>
                @value.ToFriendlyString()
            </a>
            index++;
    }
    </div>
    @await Html.PartialAsync("../Shared/MetricsFilter", new MetricsFilterViewModel{Metrics= Model.Metrics, User= Model.CurrentUser})
    <br/>
    <br/>
    <br/>
    <br />
    <br />
    @{
        index = 0;
    }
    <h4>Choose Metric Colors</h4>
    <form asp-controller="Home" asp-action="SetMetricsColors" method="post" style="display:grid">
        <div class="input-group color-group" style="width:100%">
            @foreach (var metric in Model.Metrics.Keys)
            {
                
                string id = "metriccolor" + index;
                <span style="margin:auto">
                    <input type="color" id="@id" name="metriccolor" value="@Model.CurrentUser.GetColors()[index]"/>
                    <label for="@id">@metric.Name</label>
                </span>
                index++;
            }
        </div>
        <a style="margin:auto; margin-bottom:3px;" class="btn btn-dark btn-sm" onclick="resetcolors()">Set default colors</a>
        <input  type="submit" style="margin:auto;" value="SAVE COLORS" class="btn btn-primary btn-lg" />
        
    </form>

    <br />
    <br />
    <br />
    <br />
    @{
        index = 0;
    }
    <h4>Which type of creating new block rule do you want to use?</h4>
    <div style="display:flex; margin-bottom:3px; width:100%">
        @foreach (var value in Enum.GetValues(typeof(AddBlockRuleView)))
        {
            string typeOfBtn = "btn-secondary";
            if (Model.CurrentUser.GetAddBlockRuleView() == (AddBlockRuleView)value)
                typeOfBtn = "btn-primary";
            <a style="margin:auto" class="btn @typeOfBtn" href='@Url.Action("SetAddBlockRuleView","Home", new { addBlockRuleView=index })'>
                @value
            </a>
            index++;
        }
    </div>
    <div style="width:33%;background-color: #0d6efd; margin:auto;" class=" rounded">
    @await Html.PartialAsync("../"+SystemParameters.Controller+"/CreateBlockRule", 
            new UserBlockRuleViewModel{ CurrentUser=Model.CurrentUser, Disabled=true})
    </div>


    <br />
    <br />
    <br />
    <br />
    @{
        index = 0;
    }
    <h4>Which type of explanations do you want to see?</h4>
    <div style="display:flex; margin-bottom:3px; width:100%">
        @foreach (MetricContributionScoreView value in Enum.GetValues(typeof(MetricContributionScoreView)))
        {
            string typeOfBtn = "btn-secondary";
            if (Model.CurrentUser.GetMetricContributionScoreView() == (MetricContributionScoreView)value)
                typeOfBtn = "btn-primary";
            <a style="margin:auto" class="btn @typeOfBtn" href='@Url.Action("SetMetricContributionScoreView","Home", new { metricContributionScoreView=index })'>
                @value.ToFriendlyString()
            </a>
            index++;
        }
        @{
            index = 0;
        }
        @foreach (ExplanationView value in Enum.GetValues(typeof(ExplanationView)))
        {
            string typeOfBtn = "btn-secondary";
            if (Model.CurrentUser.GetExplanationView() == (ExplanationView)value)
                typeOfBtn = "btn-primary";
            <a style="margin:auto" class="btn @typeOfBtn" href='@Url.Action("SetExplanationView","Home", new { explanationView=index })'>
                @value.ToFriendlyString()
            </a>
            index++;
        }
    </div>
    @{index=0;}
    <div id="Previews" style="width:100%;">
    @foreach (var item in Model.Items)
    {
        var metricsContribution = new Dictionary<Metric, double>();
        for (int j = 0; j < Model.Metrics.Count; j++)
        {
            int valueToAdd = (j == 0) ? index * 5 : (j == (Model.Metrics.Count - 1) ? index * -5 : 0);
            metricsContribution.Add(Model.Metrics.Keys.ToList()[j], 80 + valueToAdd);
        }

        @await Html.PartialAsync("../"+WebAppForMORecSys.Settings.SystemParameters.Controller+"/Preview", new PreviewDetailViewModel(item, Model.CurrentUser, Model.CurrentUserRatings, metricsContribution))
        @await Html.PartialAsync("../Shared/Explanations", new PreviewDetailViewModel(item, Model.CurrentUser, Model.CurrentUserRatings, metricsContribution))
       
        index++;
    }
    </div>
   


</div>

<script>
    /*Sets chosen colors to default ones*/
    function resetcolors(){
        let num_of_metrics = @Model.Metrics.Keys.Count;
        let colors=[];
        @for (int i = 0; i < @Model.Metrics.Keys.Count; i++)
        {
            @:colors.push('@SystemParameters.Colors[i]');
        }
        for (let i = 0; i < num_of_metrics;i++){
            let id = 'metriccolor' + i;
            metriccolor = document.getElementById(id);
            metriccolor.value = colors[i];
        }

    }

    /*Sets popover window to display properly*/
    $(document).ready(function () {
        popoverExplanationOptions = {
        content: function () {
            var classname = '.popover-content' + this.id;
            return $(this).siblings(classname).html();
        },
        trigger: 'hover',
            animation: true,
                placement: 'top',
                    html: true,
                        title: 'Why is this item recommended?'
        };
        $('.ItemPreview').popover(popoverExplanationOptions)
    });

    /*Saves scroll position before reloading (after setting some of the paramters)*/
    window.onbeforeunload = function (e) {
        localStorage.setItem('scrollpos', window.scrollY);
    };
    
    /*After reloading scroll position is the same as before.*/
    document.addEventListener("DOMContentLoaded", function (event) {
        var scrollpos = localStorage.getItem('scrollpos');
        if (scrollpos) window.scrollTo(0, scrollpos);
    });


    
</script>

