
@using WebAppForMORecSys.Settings
@using WebAppForMORecSys.Models.ViewModels
@using static WebAppForMORecSys.Helpers.UserHelper

@model WebAppForMORecSys.Models.ViewModels.MainViewModel
@{
    ViewData["Title"] = "Settings";
}
<div id="main">

    <h2>APP SETTINGS</h2>
    @{
        byte index = 0;
    }
    <h4>Which metrics filter do you want to use?</h4>
    <div style="display:flex; margin-bottom:3px; width:100%">
    @foreach (var value in Enum.GetValues(typeof(MetricsView))){
        
            <a style="margin:auto" class="btn btn-primary" href='@Url.Action("SetMetricsView","Home", new { metricsview=index })'>
                @value
            </a>
            index++;
    }
    </div>
    @await Html.PartialAsync("../Shared/MetricsFilter", new MetricsFilterViewModel{Metrics= Model.Metrics, User= Model.CurrentUser})
    <br/>
    <br/>
    <br/>
    <br />
    <br />
    @{
        index = 0;
    }
    <h4>Choose Metric Colors</h4>
    <form asp-controller="Home" asp-action="SetMetricsColors" method="post" style="display:grid">
        <div class="input-group color-group" style="width:100%">
            @foreach (var metric in Model.Metrics.Keys)
            {
                
                string id = "metriccolor" + index;
                <span style="margin:auto">
                    <input type="color" id="@id" name="metriccolor" value="@Model.CurrentUser.GetColors()[index]"/>
                    <label for="@id">@metric.Name</label>
                </span>
                index++;
            }
        </div>
        <a style="margin:auto; margin-bottom:3px;" class="btn btn-dark btn-sm" onclick="resetcolors()">Set default colors</a>
        <input  type="submit" style="margin:auto;" value="SAVE COLORS" class="btn btn-primary btn-lg" />
        
    </form>

    <br />
    <br />
    <br />
    <br />
    @{
        index = 0;
    }
    <h4>Which type of creating new block rule do you want to use?</h4>
    <div style="display:flex; margin-bottom:3px; width:100%">
        @foreach (var value in Enum.GetValues(typeof(AddBlockRuleView)))
        {

            <a style="margin:auto" class="btn btn-primary" href='@Url.Action("SetAddBlockRuleView","Home", new { addBlockRuleView=index })'>
                @value
            </a>
            index++;
        }
    </div>
    <div style="width:33%;background-color: #0d6efd; margin:auto;" class=" rounded">
    @await Html.PartialAsync("../"+SystemParameters.Controller+"/CreateBlockRule", 
            new UserBlockRuleViewModel{ CurrentUser=Model.CurrentUser, Disabled=true})
    </div>



</div>

<script>
    function resetcolors(){
        let num_of_metrics = @Model.Metrics.Keys.Count;
        let colors=[];
        @for (int i = 0; i < @Model.Metrics.Keys.Count; i++)
        {
            @:colors.push('@SystemParameters.Colors[i]');
        }
        for (let i = 0; i < num_of_metrics;i++){
            let id = 'metriccolor' + i;
            metriccolor = document.getElementById(id);
            metriccolor.value = colors[i];
        }

    }
</script>

