@using WebAppForMORecSys.Settings
@using static WebAppForMORecSys.Helpers.MovieHelper
@using static WebAppForMORecSys.Helpers.UserHelper
@model WebAppForMORecSys.Models.ViewModels.PreviewDetailViewModel
@{

    var ordered = Model.metricsContribution.OrderByDescending(mc => mc.Value).ToDictionary(mc => mc.Key, mc => mc.Value);
    var keys = ordered.Keys.ToArray();
    var values = ordered.Values.ToArray();
    string itempreviewid = "preview_" + Model.item.Id;//MUSÍ odpovídat názvu hlavního elementu v Preview
    string className = "popover-content" + itempreviewid;
    string doughnutChartId = "doughnutchart" + Model.item.Id;
    string borderImage = Model.MetricsContributionToBorderImage(Model.user, Model.metricsContribution.Values.ToArray(),"right");
}
<div class="@className popover-content" id="explanationPopover" style="display:none;">
    <div id="@className">
    @for (int i = 0; i < (ordered?.Count ?? 0); i++)
    {
        <p style="color: @Model.user.GetMetricsToColors()[keys[i]]"><b>@keys[i].Name - @values[i] % </b></p>
        <p>@keys[i].DefaultExplanation</p>
        <br/>
    }
    </div>
</div>

<script>
    $('#@itempreviewid').on('inserted.bs.popover', function () {
        let popoverbodies = document.getElementsByClassName("popover-body");
        /*for is there because sometimes popover is inserted faster than other is hidden.*/ 
        for (let i=0; i<popoverbodies.length; i++){
            let popoverbody=popoverbodies[i];
            popoverbody.style.borderTop = "5px solid";
            popoverbody.style.borderImage = "@borderImage";
        }
       
    });
</script>

