@using WebAppForMORecSys.Settings
@using static WebAppForMORecSys.Helpers.MovieHelper
@model WebAppForMORecSys.Helpers.MovieHelper.PreviewDetailViewModel
@{

    var ordered = Model.metricsContribution.OrderByDescending(mc => mc.Value).ToDictionary(mc => mc.Key, mc => mc.Value);
    var keys = ordered.Keys.ToArray();
    var values = ordered.Values.ToArray();
    string itempreviewclass = "preview_" + Model.item.Id;//MUSÍ odpovídat názvu hlavního elementu v Preview
    string className = "popover-content" + itempreviewclass;
    string doughnutChartId = "doughnutchart" + Model.item.Id;
    string borderImage = MetricsContributionToBorderImage(Model.metricsContribution.Values.ToArray(),"right");
}
<div class="@className popover-content" id="explanationPopover" style="display:none;">
<div style="border-right:3px; border-image:@borderImage">
    @for (int i = 0; i < (ordered?.Count ?? 0); i++)
    {
        <p style="color: @SystemParameters.MetricsToColors[keys[i]]"><b>@keys[i].Name - @values[i] % </b></p>
        <p>@keys[i].DefaultExplanation</p>
        <br/>
    }
    </div>
</div>

<script>
    var itempreviewclass = '#@itempreviewclass';
    $(itempreviewclass).on('inserted.bs.popover', function(){
        var popoverbody = document.getElementsByClassName("popover-body")[0];        
        popoverbody.style.borderTop = "5px solid";
        popoverbody.style.borderImage = "@borderImage"
       
    });
</script>

