@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div id="Manual">
    <h5>You are in manual. You can start completing the user study by returning to the <a href="@Url.Action("Index","Home")">main page</a> and follow the tips inside the orange box on top of the page.</h5>
    <br/>
    <h2>Manual</h2>
    <br />
    <h4>You can return to this manual by clicking the button "HELP" on the top of the home page.</h4>
    <img src="@Url.Content("~/Resources/Images/manualhelp.png")" />
    <br />
    <br />
    <br />
    <h4>You are able to navigate through the page by the icons in the top menu.</h4>
    <p>You can get movie recommendations on the <span style="color:red">Home page</span>.</p>
    <p>You can manage your block rules on the <span style="color:orange">Block settings page</span>.</p>
    <p>You can change settings of the app on the <span style="color:blue">App settings page</span>.</p>
    <p>After you perform the required actions you have to answer the questions on the <span style="color:green">User study form page</span>.</p>
    <p>You can change your password and check your username on the <span style="color: brown">Manage your account page</span>. </p>
    <img src="@Url.Content("~/Resources/Images/manualmenu.png")" />
    <br />
    <br />
    <br />
    <br />
    <h2>How to participate in the user study?</h2>
    <br />
    <ol>
        <li>
            <h4>Go to the home page and rate positively atleast 3 movies you like so the recommender system can work properly.</h4>
            <p>You can use search bar to find movies by their names or you can search for movies in more detail by using the movie filter.</p>
            <img src="@Url.Content("~/Resources/Images/manualrate.png")" />
            <br />
            <br />
            <br />
        </li>
        <li>
            <h4>Now you can get recommendations from the multi-objective recommender system by clicking the button "Recommend". </h4>
            <img src="@Url.Content("~/Resources/Images/manualrecommend.png")" />
            <br />
            <br />
            <br />
        </li>
        <li>
            <h4> You can tweak the objectives by metrics filter below the search bar!</h4>
            <p>If you want to know how to use the filter or find out how the different metrics / objectives work you should click on the "What is the purpose of the metrics filter below and how should I use it?" button just above the metrics filter.</p>
            <img src="@Url.Content("~/Resources/Images/manualmechanism.png")" />
            <br />
            <br />
            <br />     
            </li>
        <li>
            <h4>Follow the tips that are displayed in the orange card on top of the home page!</h4>
            <img src="@Url.Content("~/Resources/Images/manualtip.png")" />
            <br />
            <br />
            <br />
        <li>
            <h4>You can block some movies, actors, directors and genres by clicking on this <img src="@Url.Content("~/Resources/Images/hide.png")" title="Don't recommend this movie" /> next to their names in the movie detail.</h4>
            <p>You can also create and manage blocking rules in the BLOCK SETTINGS page.</p>
            <img src="@Url.Content("~/Resources/Images/manualpreviewblock.png")" />
            <br />
            <br />
            <img src="@Url.Content("~/Resources/Images/manualdetailblock.png")" />
            <br />
            <br />
            <br />
        </li>
        <li>
            <h4>You should try different variants of metrics Relevance, Diversity, Novelty and Popularity</h4>
            <img src="@Url.Content("~/Resources/Images/manualvariant1.png")" />
            <br />
            <br />
            <img src="@Url.Content("~/Resources/Images/manualvariant2.png")" />

            <br />
            <br />
            <br />
        </li>
        <li>
            <h4>You should try different types of metrics filter and different types of explanations on why the movie was recommended. </h4>
            <p>You can change these things and some others in the APP SETTINGS page.</p>
            <img src="@Url.Content("~/Resources/Images/manualmechanismselection.png")" />
            <br />
            <br />
            <br />
        </li>
        <li>
            <h4>After you will perform all required actions you can start answering the questions of this user study in the form page.</h4>
            <p>All the required actions will be displayed in the orange card "TIP" on top of the home page!</p>
            <p>Please answer all questions. You can move from one question to other by clicking the buttons just below the answer options.</p>
            <img src="@Url.Content("~/Resources/Images/manualallowedform.png")" />
            <br/>
            <br />
            <h4>You won't be able to start answering user study questions before you perform minimal number of required actions!</h4>
            <img src="@Url.Content("~/Resources/Images/manualforbiddenform.png")" />
            <br />
            <br />
            <h4>If you get there you completed the user study. THANK YOU!</h4>
            <p>You can still change your answers by navigating to the first or last section of questions.</p>
            <img src="@Url.Content("~/Resources/Images/manualfinishedform.png")" />
            <br />
            <br />
            <br />
        </li>
    </ol>
    <br />
    <br />
    <h2>Thank you for participating!</h2>
    <br />
    <br />
    <br />
    <h5>You are in manual. You can start completing the user study by returning to the <a href="@Url.Action("Index","Home")">main page</a> and follow the tips inside the orange box on top of the page.</h5>
    <br />
</div>
