@model Dictionary<WebAppForMORecSys.Models.Metric, int>
@using WebAppForMORecSys.Settings
<div class="input-group" id="input-metrics-group">
    @{
        int index = 0;

    }
    @foreach (var metric in Model.Keys)
        {
            string id = "range" + index;        
            string valueAsNumber = id + ".valueAsNumber";
            string margin = "";
            if(index==0)
                margin = "margin-left:auto;";
            else if (index==Model.Keys.Count-1)
                margin = "margin-right:auto;";
        @if (SystemParameters.MetricsView == MetricsView.DragAndDrop)
            {

                <div draggable="true" id="@("drag_" +@index)" class="drag box dragbox" 
                    style="background-color: @SystemParameters.Colors[index] ; @margin">
                    @metric.Name
                    <input class="custom-range range" type="hidden" min="0" max="100" name="MetricsImportance" id="@id"
                           value="@Model[metric]" placeholder="MetricsImportance" />
                </div>
                
            }
            else
            {
            <div class="range-wrap" style="color: @SystemParameters.Colors[index]">
                    @if (SystemParameters.MetricsView == MetricsView.Sliders)
                    {
                    <label for="@id">@metric.Name</label>
                    <input class="custom-range range" type="range" min="0" max="100" name="MetricsImportance" id="@id"
                           value="@Model[metric]" placeholder="MetricsImportance" oninput="changeValues(this.value, @index)"
                           
                        onchange="changeValues(this.value, @index)" />
                    <output style="background-color: @SystemParameters.Colors[index]" class="bubble"></output>
                    }
                    @if (SystemParameters.MetricsView == MetricsView.TextBoxNumbers)
                    {
                        <label for="@id">@metric.Name</label>
                    <input class="custom-range range form-control rounded m-3" type="number" min="0" max="100" name="MetricsImportance" id="@id"
                           value="@Model[metric]" placeholder="MetricsImportance" oninput="changeValues(this.value, @index)"
                           onchange="changeValues(this.value, @index)" 
                           style="border: 3px solid @SystemParameters.Colors[index];" />
                    }

                </div>
            }
            index++;
        }
    
</div>

<script>
    /* Make sliders responsive to change of value */
    function getSumOfRangeValues() {
        let inputranges = document.getElementById("input-metrics-group").getElementsByTagName('input');
        let length = inputranges.length;
        let sum = 0;
        for (let i = 0; i < length; i++) {
            sum += parseInt(inputranges[i].value)
        }
        return sum;
    }
    function getRandomInt(max) {
        return Math.floor(Math.random() * max);
    }
    function changeValues(value, index) {
        let inputranges = document.getElementById("input-metrics-group").getElementsByTagName('input');
        let length = inputranges.length;
        let sum = getSumOfRangeValues();
        let overflow = sum - 100;
        if (overflow > 0) {
            for (let i = 0; i < length; i++) {
                if (i == index) continue;
                let current_value = parseInt(inputranges[i].value);
                let subtract = (overflow * current_value / 100) | 0;
                inputranges[i].value = current_value - subtract;
            }
            while (getSumOfRangeValues() > 100) {
                i = getRandomInt(length)
                if (i == index) continue;
                if (parseInt(inputranges[i].value) > 0) {
                    inputranges[i].value = parseInt(inputranges[i].value) - 1;
                }
            }
        }
        setBubbles();
        copyValuesToOtherForm(inputranges)

    }

    /* load metrics importance values to item filter form */
    function copyValuesToOtherForm(inputranges){
        let inputhiddens = document.getElementById("input-copy-metrics-group").getElementsByTagName('input');
        if (inputhiddens.length==0) return;
        for (let i = 0; i < inputhiddens.length; i++) {
            inputhiddens[i].value = inputranges[i].value;
        }

    }
    /* #For showing values under sliders */
    function setBubbles() {
        const allRanges = document.querySelectorAll(".range-wrap");
        allRanges.forEach(wrap => {
            const range = wrap.querySelector(".range");
            const bubble = wrap.querySelector(".bubble");

            range.addEventListener("input", () => {
                setBubble(range, bubble);
            });
            setBubble(range, bubble);
        });
    }

    setBubbles();

    function setBubble(range, bubble) {
        const val = range.value;
        const min = range.min ? range.min : 0;
        const max = range.max ? range.max : 100;
        const newVal = Number(((val - min) * 100) / (max - min));
        bubble.innerHTML = val;

        // Sorta magic numbers based on size of the native UI thumb
        bubble.style.left = `calc(${newVal}% + (${8 - newVal * 0.15}px))`;
    }

    //Drag and drop
    document.addEventListener('DOMContentLoaded', (event) => {
        function set_input_hidden_values(){
            //sets right values to hidden (metrics ranking is the same as on start)
            let inputranges = document.getElementById("input-metrics-group").getElementsByTagName('input');
            let length = inputranges.length;
            //let drag_ranges = document.getElementById("input-metrics-group").getElementsByClassName('drag');
            let numberOfParts = 0;
            for (let i = 0; i < length; i++) {
                numberOfParts += i + 1;
            }
            for (let i = 0; i < length; i++) {
                let index = parseInt(inputranges[i].id.replace(/^range/, ''));
                inputranges[index].value = 100 / numberOfParts * (length - i);
            }
            copyValuesToOtherForm(inputranges) 
        }

        function handleDragStart(e) {
            this.style.opacity = '0.4';
            dragSrcEl = this;

            e.dataTransfer.effectAllowed = 'move';
            e.dataTransfer.setData('text/html', this.innerHTML);
        }

        function handleDragEnd(e) {
            this.style.opacity = '1';

            items.forEach(function (item) {
                item.classList.remove('over');
            });
        }

        function handleDragOver(e) {
            e.preventDefault();
            return false;
        }

        function handleDragEnter(e) {
            this.classList.add('over');
        }

        function handleDragLeave(e) {
            this.classList.remove('over');
        }
        function handleDrop(e) {
            e.stopPropagation(); // stops the browser from redirecting.
            if (dragSrcEl !== this) {
                dragSrcEl.innerHTML = this.innerHTML;
                var tempColor = dragSrcEl.style.backgroundColor;
                dragSrcEl.style.backgroundColor = this.style.backgroundColor;
                this.style.backgroundColor = tempColor;
                this.innerHTML = e.dataTransfer.getData('text/html');
            }
            set_input_hidden_values()

            return false;
        }

        function order_drag_boxes_at_start(){
            let drag_ranges = document.getElementById("input-metrics-group").getElementsByClassName('dragbox');
            if (drag_ranges.length==0){
                return;
            }
            let input_ranges = document.getElementById("input-metrics-group").getElementsByTagName('input');
            let temp = [];
            let values=[];
            let sorted = [];
            for (let i = 0; i < drag_ranges.length; i++) {
                temp[i] = drag_ranges[i].innerHTML;
                values[i] = input_ranges[i].value;
                sorted[i] = input_ranges[i].value;

            }
            sorted.sort();
            sorted=sorted.reverse();
            for (let i = 0; i < drag_ranges.length; i++) {
                let index = sorted.indexOf(values[i]);
                drag_ranges[index].innerHTML = temp[i];
            }
            set_input_hidden_values()
            /*
            input_ranges = document.getElementById("input-metrics-group").getElementsByTagName('input');
            //input ranges should still correspond to metrics ranking in db
            for (let i = 0; i < drag_ranges.length; i++) {
                input_ranges[i].value = values[i];
            }*/


        }


        let items = document.querySelectorAll('.container .box');
        items.forEach(function (item) {
            item.addEventListener('dragstart', handleDragStart);
            item.addEventListener('dragover', handleDragOver);
            item.addEventListener('dragenter', handleDragEnter);
            item.addEventListener('dragleave', handleDragLeave);
            item.addEventListener('dragend', handleDragEnd);
            item.addEventListener('drop', handleDrop);
        });
        order_drag_boxes_at_start();
    });


</script>