@using static WebAppForMORecSys.Helpers.JSONPropertiesHandlers.UserJSONPropertiesHandler
@using static WebAppForMORecSys.Settings.MetricsViewExtensions
@model WebAppForMORecSys.Models.ViewModels.MetricsFilterViewModel
@{
    var metricIDsToColors = Model.User.GetMetricIDsToColors();
    var usedFilter = Model.User.GetMetricsView();
}
<div class="modal-text">
      In this metric filter you can tweak the objective importances.
      Different ratio of the metrics/objectives will produce different recommendations.
<br>
<br>
<br>

<button type="button" class="btn btn-info" data-bs-toggle="collapse" data-bs-target="#metrics">
    What is the meaning of these metrics?
</button>
<div id="metrics" class="collapse">
    <br>
    @foreach (var metric in Model.Metrics.Keys)
    {
        <b style="color:@(metricIDsToColors[metric.Id])">@metric.Name</b>
            <p>@metric.Description</p>
        @if (!string.IsNullOrEmpty(metric.Example))
        {
                <p><i>Example:</i> @metric.Example</p>
            <br>
        }
        @if (metric.HasVariants())
        {
            <p>There are different variants how to compute @(metric.Name).</p>
            <p>You can change the variant by clicking on the name of @(metric.Name) inside this filter and choosing different option.</p>
            <br>
        }
   
    }
</div>
<br>
<br>
<br>

    <button type="button" class="btn btn-info" data-bs-toggle="collapse" data-bs-target="#usage">
    How to use the filter?
</button>
<div id="usage" class="collapse">
    <br>
    @usedFilter.Manual()
    <p>
        There are 3 different types of this filter. You can select them in the <a href="/Home/AppSettings">App Settings page</a>.
    </p>
</div>
</div>

<br>